/*База:.........................................................................*/
:root {
    --color-bg: #121212;
    --color-red: red;
    --color-text: rgb(240, 248, 255);
    --color-text-hover: rgb(185, 190, 195);
}

body {
    background-color: var(--color-bg);
    font-size: 16px;
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 24px 142px ;
    margin: 0 auto;        
    width: 100%;           
    box-sizing: border-box;
}
/*...............................................................................*/

/*Навігація:.....................................................................*/
nav {
    display: flex;
    justify-content: space-between;
}

.nav__menu,.nav__user-option, .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__menu {
    gap: 60px;
}

.nav__menu-link {
    font-size: 22px;
    transition: color 0.5s;
}

.nav__menu-link:hover {
    color: var(--color-red);
}
/*...............................................................................*/

/*Головна:.......................................................................*/
.hero__title {
    font-size: 72px;
}
/*...............................................................................*/

/*Каталог:.......................................................................*/

/*...............................................................................*/

/*Футер:.........................................................................*/

/*...............................................................................*/


